body {
  font-family: Arial, sans-serif !important;
  max-width: 148mm !important;
  overflow: auto !important;
  height: 180mm !important;


  position: relative; /* Agregar esta línea */

}
  
  .receta {
    width: 100%; /* Ancho de la receta */
    height: 100%;
    margin: 0 0;
    padding: 5px;
    border: none; /* Eliminar los bordes */
  }
  
  .titulo {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .logo {
    text-align: center;
  }
  
  
  .item {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .medicamento {
    flex-grow: 1; /* Para que ocupe el espacio restante */
  }
  
  .dosis {
    width: 80px; /* Ancho para la dosis */
  }
  
  .horario {
    width: 100px; /* Ancho para el horario */
  }
  
  #logo {
    top: 0;
    left: 0;
    padding: 20px;
}

#logo img {
    width: 200px; /* Ajusta esto según el tamaño de tu logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo h1, #logo p {
    margin: 0;
    font-size: 16px;
    text-align: center;
}
#qr-code {
  position: absolute; /* Cambiar esta línea */
  right: 0;
  bottom: 0;
  width: 25%;
}

.oculto {
  display: none;
}

.visible {
  display: none;
}

button {
  color: white;
  background-color: #1D4ED8;
  --ring-color: #93C5FD;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}

button:hover {
  background-color: #1E40AF;
}

button:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

button svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
  animation: spin_357 1s linear infinite;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}